<div class="content">
  <div class="masthead">
    <img src="../../assets/images/contacts.jpg" alt="">
    <div class="image-text">
      <h1>CONTACT US</h1>
      <h3>We are happy to speak with you and help you with everything you need!</h3>
    </div>
  </div>
  <div class="container">
    <div class="contact-info">
      <form>
        <section class="form-block">
          <label>Leave us a message:</label>
          <div class="form-group">
            <label for="guestName">Name</label>
            <label for="guestName" aria-haspopup="tooltip" role="tooltip" class="tooltip tooltip-validation tooltip-md">
              <input type="text" id="guestName" placeholder="Enter your name" required name="name" size="45">
              <span class="tooltip-content">Name is Required.</span>
            </label>
          </div>
          <div class="form-group">
            <label for="guestEmail">Email</label>
            <label for="guestEmail" aria-haspopup="tooltip" role="tooltip" class="tooltip tooltip-validation tooltip-md">
              <input type="email" id="guestEmail" placeholder="Enter your email address" required name="email" size="45">
              <span class="tooltip-content">Email Address is Required.</span>
            </label>
          </div>
          <div class="form-group">
            <label for="guestMessage">Message</label>
            <textarea id="guestMessage" placeholder="Enter your message" required name="message" rows="5"></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Send Message</button>
        </section>
      </form>
    </div>

    <div class="company-contacts">
      <h2>Get in touch with us:</h2>
      <p class="info">
        <clr-icon shape="map-marker" class="is-solid"></clr-icon>
        1249 EDSA, Balintawak
        <br>
        <span class="indent">Barangay Apolonio Samson</span>
        <br>
        <span class="indent">Quezon City, Metro Manila</span>
      </p>

      <p class="info">
        <clr-icon shape="phone-handset" class="is-solid"></clr-icon>
        (632) 362-0486 </p>
      <p>
        <clr-icon shape="phone-handset" class="is-solid"></clr-icon>
        (632) 362-0586</p>
      <p>
        <clr-icon shape="mobile" class="is-solid"></clr-icon>
        (63) 922-834-2333</p>
      <p>
        <clr-icon shape="envelope" class="is-solid"></clr-icon>
        centralpacificmotor@yahoo.com</p>
        
    </div>
  </div>
</div>

