<h1 class="title">TRUCK DETAILS</h1>
<main *ngFor="let truck of truckObservable | async">
  <div class="row">
    <div class="col-md img-container">
      <img id="imgDisplayed" src="../../assets/images/trucks/{{truck.chassis}}.jpeg">
    </div>
    <div class="col-md desc-container">
      <h1>{{truck.brand + " " + truck.model | uppercase}}</h1>
      <h4>DETAILS</h4>
      <table class="table table-vertical">
        <tbody>
          <tr>
            <th>Year</th>
            <td>{{truck.year}}</td>
          </tr>
          <tr>
            <th>Chassis</th>
            <td>{{truck.chassis}}</td>
          </tr>
          <tr>
            <th>Engine</th>
            <td>{{truck.engine}}</td>
          </tr>
          <tr>
            <th>Make</th>
            <td>{{truck.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-outline backbtn" (click)="goBack()">Back</button>
</main>

