header {
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 200px;
}

li:hover {
    background-color: red;
}