nav {
    background-color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: -webkit-fit-content;
       width: -moz-fit-content;
            width: fit-content;
}

li {
    float: left;
}

li a, .dropbtn{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 200px;
    cursor: pointer;
}

li:hover, .dropdown:hover .dropbtn{
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}