main {
    min-height: calc(100vh - 70px);
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px; 
    margin-top: 24px;
}

.description {
    padding: 8px 16px;
}