<main>
  <div id="masthead">
    <app-carousel></app-carousel>
  </div>
  <div class="headline">
    <sm-cards>
      <sm-card class="card">
        <div class="image">
          <img src="../../assets/images/isuzu1.jpg" alt="">
        </div>
        <div class="content">
          <a href="" class="header">Title</a>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel libero at velit provident totam accusantium quidem nam asperiores
            a facilis ducimus sunt ab, quae animi quibusdam, error repellat iste distinctio?
          </div>
        </div>
      </sm-card>

      <sm-card class="card">
        <div class="image">
          <img src="../../assets/images/isuzu1.jpg" alt="">
        </div>
        <div class="content">
          <a href="" class="header">Title</a>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consectetur ullam nulla perferendis minus veritatis libero,
            deserunt accusantium, et quae exercitationem illo voluptas vitae obcaecati neque repellat modi quam totam.
          </div>
        </div>
      </sm-card>
    </sm-cards>
  </div>
</main>
